# Eslintignore for YuntiJS
################################################################

# dependencies
node_modules

# ci
.coverage
coverage

# test
jest*
_test_
__test__

# umi
.umi
.umi-production
.umi-test
.dumi/tmp*

# production
dist
es
lib
logs

# misc
# add other ignore file below

# next
# production
/build

# next.js
/.next/
/out/

# vercel
.vercel

