# Gitignore for YuntiJS
################################################################

# general
.DS_Store
.idea
.vscode
.history
.temp
.env.local
venv
temp
tmp

# dependencies
node_modules
*.log
*.lock
package-lock.json
bun.lockb

# ci
.coverage
.eslintcache
.stylelintcache
coverage

# production
dist
es
lib
umd
logs
test-output

# husky
.husky/prepare-commit-msg

# dependencies
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
# add other ignore file below
