.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: 336px;
  height: 100%;

  background-color: white;
}

[dir='ltr'] .sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

[dir='rtl'] .sidebar {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

@media (max-width: 879px) {
  .sidebar[sidebar-visible='false'] {
    box-shadow: none;
  }

  [dir='ltr'] .sidebar[sidebar-visible='false'] {
    transform: translate(-200%);
  }

  [dir='rtl'] .sidebar[sidebar-visible='false'] {
    transform: translate(200%);
  }

  .sidebar[sidebar-visible='false'] button {
    opacity: 0;
  }

  .sidebar {
    position: absolute;
    width: 100%;
    transition: var(--slide-transition);
  }
  .sidebar.hide_sidebar {
    display: none;
  }

  [dir='ltr'] .sidebar {
    left: 0;
    border-right: 1px solid;
  }

  [dir='rtl'] .sidebar {
    right: 0;
    border-left: 1px solid;
  }

  [dir] .sidebar {
    border: transparent;
  }
}
