name: Lint CI
on:
  pull_request:
  push:
    branches:
      - '!master'
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js v18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install pnpm v8.x
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setting token to npmrc
        run: |
          npm set //dev-npm.k8s.com.cn/:_authToken="${{ secrets.NPMTOKEN }}"

      - name: Install deps
        run: pnpm install

      - name: Lint
        run: npm run lint
